.header-bg-sunrise {
  position: relative;
  background-image: url('/images/sunrise.png');
  background-size: 37% auto;
  background-position: calc(100% - 24px) bottom;
  background-repeat: no-repeat;
}
.header-bg-sunrise::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 1;
  z-index: 0;
  pointer-events: none;
}

.header-bg-sunrise > * {
  position: relative;
  z-index: 1;
}
