.header-bg-sunrise {
  position: relative;
  background-image: url('/images/vecteezy_sf.jpeg');
  background-size: cover;
  background-position: center 37%;
  background-repeat: no-repeat;
}

.header-bg-sunrise::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.header-bg-sunrise > * {
  position: relative;
}

@media (max-width: 640px) {
  .header-bg-sunrise {
    background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;
  }
}
